<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Falcão
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor="let option of options">
        <div class="action-resource ion-activatable" (click)="navigate(option.page)">
          <p class="label">{{ option.label }}</p>
          <ion-ripple-effect></ion-ripple-effect>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>