<ion-content fullscreen class="ion-padding" scroll-y="false">
  <ion-slides #slides>

    <ion-slide>
      <div class="slide">
        <img src="./assets/wizard 1.png" />
        <h2>Olá Caminhoneiro</h2>
        <p class="description">O <strong class="text-featured">Falcão</strong> está aqui para trazer praticidade e
          segurança em sua rotina.</p>
        <ion-button expand="block" class="bg-button" (click)="next(slides)">PRÓXIMO <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
        </ion-button>
      </div>
    </ion-slide>

    <ion-slide>
      <div class="slide">
        <img src="./assets/wizard 2.png" />
        <h2>Como funciona?</h2>
        <p class="description">Após traçar seu roteiro de rota <strong class="text-featured">gire</strong> seu celular e entraremos em modo <strong
            class="text-featured">Falcão</strong>.</p>
        <ion-button expand="block" class="bg-button" (click)="next(slides)">PRÓXIMO <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
        </ion-button>
      </div>
    </ion-slide>

    <ion-slide>
      <div class="slide-last">
        <img src="./assets/wizard 3.png" />
        <h2>Pronto para começar?</h2>
        <ion-button expand="block" class="bg-button" (click)="closeWizard()">Vamos nessa <ion-icon slot="end" name="eye-outline">
          </ion-icon>
        </ion-button>
      </div>
    </ion-slide>

  </ion-slides>

</ion-content>