.container {
    --background: linear-gradient(180deg, #2c3a97 0%, #3faade 100%), #2c3a97 !important;
}

.d-flex {
    display: flex;
    flex-flow: column nowrap;
    margin: 16px;
    height: 100%;
    justify-content: space-evenly;

    img {
        max-height: 50%;
        max-width: 100%;
        pointer-events: none;
        justify-content: start;
        align-items: center;
        margin: 0px auto;
    }

    .cta {
        justify-content: end;

        ion-button {
            --background: #062f77;
        }

        .skip {
            display: flex;
            justify-content: center;
            margin: 24px auto;
            font-size: 18px;
            color: #fff;
        }
    }
}
