
<ion-content class="bg-class">
  <img src="./assets/logo name.png"/>
  <form  #form="ngForm" (ngSubmit)="register(form)">
    <ion-grid>
      <ion-row justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div text-center>
            <h3>É rapidinho!</h3>
          </div>
          <div padding>
            <ion-item>
              <ion-input  name="nome" type="text" placeholder="Nome" ngModel required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input name="email" type="email" placeholder="E-mail" ngModel required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input name="senha" type="password" placeholder="Senha" ngModel required></ion-input>
            </ion-item>
          </div>

          <div padding>
            <ion-button  size="large" type="submit" [disabled]="form.invalid" expand="block">Criar</ion-button>
            <ion-button  size="large" (click)="login()" expand="block">Voltar</ion-button>

          </div>

        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
